
.menu-container{
  display: flex;
  height: 85px;
  align-items: center;
  background: rgb(0,0,0);
  background: linear-gradient(90deg, rgba(0,0,0,0.9500175070028011) 0%, rgba(1,1,1,0.8785889355742297) 62%, rgba(59,59,60,0.9486169467787114) 100%);
  box-shadow: 0px 0px 6px 0px rgba(0,0,0,0.5);
}

.menu__imagem{
  margin-left: 30px;
  display: flex;
  align-items: center;
}

.menu__description{
  display: flex;
  color: white;
  margin: 0 auto;
}

.menu__description__bau{
  list-style: none;
  text-decoration: none;
  display: flex;
  font-size: 25px;
  margin-top: 10px;
}

.menu__description > ul > li{
	padding: 5px;
	margin-right: 20px;
}

.menu__description > ul > li > a{
	text-decoration: none;
	padding: 5px;
	color: white;
}

.menu__description > ul > li > a:hover{
  border-bottom: 2px solid rgb(250, 250, 250);
	font-weight: bold;
}

