<div class="menu-container">
  <div class="menu__imagem">
    <a><img src="../../../assets/icons/icon-menu.png" alt=""></a>
    <a routerLink=""><img src="../../../assets/images/bra-fonts.png" alt="" width="80px" height="80px"></a>
  </div>
  <div class="menu__description">
    <ul class="menu__description__bau">
      <li> <a routerLink="/startPage">Home</a></li>
      <li> <a routerLink="/atualizacao">Atualizações</a></li>
      <li> <a routerLink="/sobre">Sobre</a></li>
    </ul>
  </div>
</div>

