@font-face {
  font-family: 'Graphik-Regular-Trial';
  src: url('../../../assets/fonts/Graphik-Regular-Trial.otf');
}
.titulo-carrossel{
  text-align: center;
  margin-top: 40px;
  font-family: 'Graphik-Regular-Trial';
}

.banner-player{
display: block;
margin: auto;
margin-top: 40px;
}


