@font-face {
  font-family: 'Graphik-Regular-Trial';
  src: url('../../../assets/fonts/Graphik-Black-Trial.otf');
}
.titulo-carrossel{
  text-align: center;
  margin-top: 40px;
  font-family: 'Graphik-Regular-Trial';
  font-size: 35px;
}

.banner-player{
display: block;
margin: auto;
margin-top: 40px;
}

.image{
width: 50%;
margin: 0 auto;
}
