@font-face {
  font-family: 'Graphik-Semibold-Trial';
  src: url('../../../assets/fonts/Graphik-Semibold-Trial.otf');
}

.titulo-sobre{
    text-align: center;
    margin-top: 40px;
    font-family: 'Graphik-Semibold-Trial';
    font-size: 35px;
}

.lead{
  line-height: 1.8;
  margin-right: 10px;
}

button{
margin-right: 20px;

}
