<h1 class="titulo-sobre">Murilo Santos Cunha</h1>
<div class="container">
    <img src="../../../assets/images/murilo-img.jpg" class="float-start img-thumbnail " width="270px">
    <p class="lead">
      Olá, me chamo Murilo e sou criador dessa página contando um poquinho da história do meu clube do coração e também aproveitando para dar uma treinada e estudar o Angular.

      Bem-vindo à vibe corinthiana de Murilo! Desde pivete, esse cara já era louco pelo Timão. A história começou lá atrás, quando ele descobriu que o Corinthians ia além de um time - era uma paixão sem freio.

      Os primeiros rolês no estádio foram tipo mágica. O hino do Corinthians fazia a pele arrepiar, a galera na arquibancada era pura energia. E daí, não teve jeito: o Murilo se apaixonou de vez.

      Foram anos de altos e baixos, mas o Murilo nunca desistiu. Cada vitória era uma festa, cada derrota, um desafio a mais. Ele tá lá, seja na arquibancada ou na frente da tela, vibrando com cada gol e encarando as pedreiras de cabeça erguida.

      No site dele, não é só um "Sobre Mim". É um rolê virtual que conta a história de um torcedor de verdade. Fotos marcantes, memórias fodas e até umas reflexões sobre o que o Corinthians representa. O coração do Murilo bate no ritmo do hino do Timão, e o site é tipo um altar digital desse amor que não tem fim.

      Navegando pelo espaço online do Murilo, você sente a energia contagiante desse cara. Cada post, cada foto, é um pedaço desse romance eterno com o Corinthians. Esse é o point onde a história do Murilo com o Timão ganha vida, criando uma vibe que conecta todo mundo que curte essa paixão única.

      Aproveitei também para dar uma estudada e praticar um pouco do bootstrap, um framework muito utilizado no mundo do frontend.
    </p>
</div>
<h1 class="titulo-sobre">Minhas Redes Sociais</h1>
<div class="container">
  <a href="https://github.com/muricunha" target="_blank"><button type="button" class="btn btn-outline-secondary">Github</button></a>
  <a href="https://www.instagram.com/murilostt_/" target="_blank"><button type="button" class="btn btn-outline-secondary">Instagram</button></a>
  <a href="https://www.linkedin.com/in/murilo-santos-cunha/" target="_blank"><button type="button" class="btn btn-outline-secondary">LinkedIn</button></a>
</div>





